<?xml version="1.0" encoding="utf-8"?>
<robot
  name="Drago">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-7.72856457749698E-05 0.000985506421665394 0.0316640950040682"
        rpy="0 0 0" />
      <mass
        value="0.1474375874572" />
      <inertia
        ixx="0.000241687171403802"
        ixy="2.76044882976438E-07"
        ixz="5.3745744400699E-09"
        iyy="0.000213930288448861"
        iyz="7.09557385158071E-06"
        izz="0.000309365156484479" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Waist_link">
    <inertial>
      <origin
        xyz="-0.0126076694523848 -0.000689380789856253 0.020405315651427"
        rpy="0 0 0" />
      <mass
        value="0.114312272517247" />
      <inertia
        ixx="7.49456466486768E-05"
        ixy="2.03547014845499E-06"
        ixz="3.5602677219693E-06"
        iyy="5.85772537754704E-05"
        iyz="7.34921578534803E-06"
        izz="7.44043523111878E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Waist_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.909803921568627 0.443137254901961 0.0313725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Waist_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Waist_joint"
    type="revolute">
    <origin
      xyz="0 0.000299999804291295 0.0823428680948091"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Waist_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1"
      velocity="3" />
    <dynamics
      damping="1"
      friction="1" />
  </joint>
  <link
    name="Shoulder_link">
    <inertial>
      <origin
        xyz="-1.12699373916447E-07 0.0600135170515176 0.00480459549380981"
        rpy="0 0 0" />
      <mass
        value="0.0683063019704699" />
      <inertia
        ixx="0.000111335443757709"
        ixy="1.95406984549249E-10"
        ixz="6.26284334982906E-11"
        iyy="9.89041420319741E-06"
        iyz="-1.38128948633086E-08"
        izz="0.000116571269127672" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.909803921568627 0.447058823529412 0.0431372549019608 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Shoulder_joint"
    type="revolute">
    <origin
      xyz="0.00470000000000012 -0.01391 0.0402799999999999"
      rpy="1.5707963267949 -0.559711205792866 1.5707963267949" />
    <parent
      link="Waist_link" />
    <child
      link="Shoulder_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.31"
      upper="2.5"
      effort="1"
      velocity="3" />
  </joint>
  <link
    name="Elbow_link">
    <inertial>
      <origin
        xyz="0.0346159193653191 -6.32510692880062E-05 -0.0207878297998635"
        rpy="0 0 0" />
      <mass
        value="0.0997434531792725" />
      <inertia
        ixx="1.818428969751E-05"
        ixy="-4.57160987594351E-08"
        ixz="9.29775106159709E-07"
        iyy="6.97565602777627E-05"
        iyz="-3.94275296036223E-07"
        izz="7.07521243226271E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Elbow_joint"
    type="revolute">
    <origin
      xyz="0 0.12 0"
      rpy="0 0 -0.559711205792866" />
    <parent
      link="Shoulder_link" />
    <child
      link="Elbow_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-4"
      upper="0.12"
      effort="1"
      velocity="3" />
  </joint>
  <link
    name="Wrist_1_link">
    <inertial>
      <origin
        xyz="0.0233567454985734 0.00366255184276276 -0.00631749983504008"
        rpy="0 0 0" />
      <mass
        value="0.0364225917173961" />
      <inertia
        ixx="7.1636312023005E-06"
        ixy="4.57023572830182E-07"
        ixz="3.8874307928469E-07"
        iyy="1.29519866849324E-05"
        iyz="2.94918004449321E-08"
        izz="1.12621365094926E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Wrist_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Wrist_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wrist_1_joint"
    type="revolute">
    <origin
      xyz="0.0944000000000003 -0.00500000000000012 -0.0150000000000001"
      rpy="0 0 0" />
    <parent
      link="Elbow_link" />
    <child
      link="Wrist_1_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1"
      velocity="3" />
  </joint>
  <link
    name="Wrist_2_link">
    <inertial>
      <origin
        xyz="0.0168531926533761 0.000122222985653231 -0.00156810835529166"
        rpy="0 0 0" />
      <mass
        value="0.0139246019270835" />
      <inertia
        ixx="1.16538358935657E-06"
        ixy="-9.29033431222823E-09"
        ixz="-5.1108087154368E-08"
        iyy="1.11291360778585E-06"
        iyz="9.89135170487405E-09"
        izz="1.89566093244876E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Wrist_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Wrist_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wrist_2_joint"
    type="revolute">
    <origin
      xyz="0.0208399325599607 0.00340387650924096 0.00127964919234359"
      rpy="0 0 0" />
    <parent
      link="Wrist_1_link" />
    <child
      link="Wrist_2_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1"
      velocity="3" />
  </joint>
  <link
    name="Effector_link">
    <inertial>
      <origin
        xyz="-2.26381413614973E-16 -5.55111512312578E-17 0.00447696690039018"
        rpy="0 0 0" />
      <mass
        value="0.0031625371291834" />
      <inertia
        ixx="6.38210417468505E-08"
        ixy="1.20792521417058E-23"
        ixz="-1.20896068150185E-22"
        iyy="2.60651552513833E-07"
        iyz="-2.70674250245187E-23"
        izz="2.7433763130509E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Effector_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Effector_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Effector_joint"
    type="revolute">
    <origin
      xyz="0.0408435294675011 -0.00511048363110789 -0.00140782639546167"
      rpy="0 1.5707963267949 0" />
    <parent
      link="Wrist_2_link" />
    <child
      link="Effector_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1"
      velocity="3" />
  </joint>
  <link
    name="Gripper_link">
    <inertial>
      <origin
        xyz="-0.000106292521820447 7.00052063247747E-05 -0.0308465298604367"
        rpy="0 0 0" />
      <mass
        value="0.0338622957317034" />
      <inertia
        ixx="7.91995838822288E-06"
        ixy="-2.30377262160725E-09"
        ixz="-4.69066405301153E-07"
        iyy="1.02346743518635E-05"
        iyz="2.44836828172283E-07"
        izz="8.29268801668815E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Gripper_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Gripper_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Gripper_joint"
    type="fixed">
    <origin
      xyz="0.000766471836677465 0.00373197464508285 0.0551499896883955"
      rpy="0 0 0" />
    <parent
      link="Effector_link" />
    <child
      link="Gripper_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Right_Claw_link">
    <inertial>
      <origin
        xyz="-0.00243565880725227 -2.1791745075106E-09 0.0060195460687709"
        rpy="0 0 0" />
      <mass
        value="0.00458904721552371" />
      <inertia
        ixx="4.32117400461652E-07"
        ixy="-6.24226617680927E-14"
        ixz="-5.88521738706436E-09"
        iyy="2.30501583735766E-07"
        iyz="4.21317731608207E-15"
        izz="5.92146413710267E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Right_Claw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Right_Claw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_Claw_joint"
    type="prismatic">
    <origin
      xyz="-0.022433 -0.0003 0"
      rpy="3.1415 -1.5708 0" />
    <parent
      link="Gripper_link" />
    <child
      link="Right_Claw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.013"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Left_Claw_link">
    <inertial>
      <origin
        xyz="-0.00243565882245883 2.17917545120017E-09 0.00601954604159792"
        rpy="0 0 0" />
      <mass
        value="0.00458904733917677" />
      <inertia
        ixx="4.32117421724389E-07"
        ixy="6.24226649182804E-14"
        ixz="-5.88521745743767E-09"
        iyy="2.30501584191406E-07"
        iyz="-4.21317889749309E-15"
        izz="5.92146434925873E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Left_Claw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drago_description_pkg/meshes/Left_Claw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Claw_joint"
    type="prismatic">
    <origin
      xyz="0.022567 -0.0003 0"
      rpy="0 -1.5708 0" />
    <parent
      link="Gripper_link" />
    <child
      link="Left_Claw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.013"
      effort="0"
      velocity="0" />
  </joint>
</robot>